<h1>Eat-Da-Burger</h1>
<h2>Add a Burger</h2>
<div class="container">
    <div class="row">
    <div class="col">
<h3>Added Burgers</h3>
<ul>

</ul>
    </div>
    </div>
    <div class="row">
        <div class="col">
<h3>Devoured Burgers</h3>
<ul>

</ul>
    </div>
    </div>
</div>
<form>

</form>