body {
  box-sizing: border-box;
  background-color: wheat;
  background-image: url(../img/burger.png);
  background-size: 450px 350px;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.jumbotron {
  display: block;
  background-color: rgba(245, 245, 245, 0);
  font-family: "Indie Flower", cursive;
  text-align: center;
}

h2,
h3 {
  text-align: left;
  font-family: "Kaushan Script", cursive;
}
h5 {
  text-align: left;
  font-family: "Kaushan Script", cursive;
  margin-top: 0.5rem;
}

.create-form {
  margin: 3rem 18rem;
  border: groove 0.5em orange;
  border-radius: 2em;
  width: fit-content;
  padding: 1rem 2rem;
}

form {
  margin-top: 4rem;
}
.list-group-item {
  background-color: rgba(245, 245, 245, 0);
  border: transparent;
  text-align: left;
}

/* @media {
  body {
    background-size: 200px 150px;
  }
} */
