body {
  box-sizing: border-box;
  background-color: wheat;
  background-image: url(../img/burger.png);
  background-size: 450px 350px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.jumbotron {
  background-color: rgba(245, 245, 245, 0.315);
  font-family: "Indie Flower", cursive;
  text-align: center;
  padding-bottom: 0.5rem;
}

h2 {
  padding: 0rem 3rem;
  font-family: "Kaushan Script", cursive;
}
h5 {
  text-align: left;
  font-family: "Kaushan Script", cursive;
  padding: 0rem 6rem;
}
h6 {
  font-family: "Indie Flower", cursive;
  text-align: center;
}
.create-form {
  margin: 3rem 18rem;
  border: groove 0.5em orange;
  border-radius: 2em;
  width: fit-content;
  padding: 1rem 2rem;
}

form {
  margin-top: 4rem;
}
.list-group-item {
  background-color: rgba(245, 245, 245, 0);
  border: transparent;
  padding: 0.5rem 3rem;
}
i {
  color: black;
}

.footer {
  padding: 0.3rem;
  background-color: rgba(245, 245, 245, 0.315);
}

/*Media query for responsiveness*/
@media all and (max-width: 1036px) and (min-width: 500px) {
  body {
    background-size: 200px 150px;
  }
  .create-form {
    padding: 1rem 5rem;
    width: max-content;
    margin: 3rem 6rem;
  }
  h6 {
    font-family: "Indie Flower", cursive;
    text-align: center;
    font-size: 25px;
  }
  .footer {
    padding: 2rem 0rem;
  }
}
